body {
	background: #eee;
}

.ps-container .ps-panel {
	margin: 1.5em;
	padding: 1.5em;
	box-shadow: -0.31em -0.31em 1.56em 0 #fff, inset 0.19em 0.19em 0.31em 0 #fff8, 0.62em 0.62em 1.25em #0000001d, inset -0.19em -0.19em 0.31em 0 #00000008;
	border-radius: 0.625em;
	color: #666;
	border-style: solid;
	border-width: 1px;
	border-top-color: #fffa;
	border-left-color: #fffa;
	border-right-color: #0000000a;
	border-bottom-color: #0000000a;
}

.ps-container .ps-panel .ps-panel {
	margin: 0.5em;
}

.ps-container .ps-panel-sm {
	padding: 0.5em 0.8em;
}

.ps-container .ps-panel p {
	color: #444;
}

.ps-container .ps-panel hr {
	border: none;
	background: none;
	box-shadow: -1px -1px 3px 0 black, 1px 1px 3px 0 white;
}

.ps-container .ps-panel.ps-panel-sunk {
	box-shadow: 0.31em 0.31em 0.62em inset #0001, -0.12em -0.12em 0.31em #00000008, -0.31em -0.31em 0.62em inset #fffb, 0.12em 0.12em 0.31em #fff;
	border-top-color: #0000000a;
	border-left-color: #0000000a;
	border-right-color: #fffa;
	border-bottom-color: #fffa;
}

.ps-container .ps-glowtext {
	text-shadow: 0.2em 0.2em 0.9em;
}

/** buttons ------------------------------------------------------------- */

.ps-container button,
.ps-container input[type=button],
.ps-container input[type=submit] {
	margin: 0.5em;
	padding: 0.5em;
	min-width: 5em;
	box-shadow: -0.15em -0.15em 1em 0 #fff, inset 0.1em 0.1em 0.15em 0 #fff8, 0.2em 0.2em 0.3em #0000001d, inset -0.1em -0.1em 0.15em 0 #0000000a;
	border-radius: 0.6em;
	border-style: solid;
	border-width: 1px;
	border-top-color: #ffff;
	border-left-color: #ffff;
	border-right-color: #00000010;
	border-bottom-color: #00000010;
	background-color: #e8e8e8e8;
	color: #666;
}

.ps-container button[disabled],
.ps-container input[type=button][disabled],
.ps-container input[type=submit][disabled] {
	color: #bbb;
	text-shadow: -0.1em -0.1em 0.25em white;
}

.ps-container button:not([disabled]):hover,
.ps-container input[type=button]:not([disabled]):hover,
.ps-container input[type=submit]:not([disabled]):hover {
	background-color: #f8f8f8f8;
}

.ps-container button:not([disabled]):active,
.ps-container input[type=button]:not([disabled]):active,
.ps-container input[type=submit]:not([disabled]):active {
	background-color: #ddd;
	box-shadow: inset 0.1em 0.1em 0.15em 0 #0003, 0.2em 0.2em 0.3em #fff, -0.1em -0.1em 0.2em #0001, inset 0 0 0.15em 0 #fff;
	border-top-color: #00000018;
	border-left-color: #00000018;
	border-right-color: #fff8;
	border-bottom-color: #fff8;
}

.ps-container button:not([disabled]):focus-visible,
.ps-container input[type=button]:not([disabled]):focus-visible,
.ps-container input[type=submit]:not([disabled]):focus-visible {
	outline: 2px ridge #bbb;
}

/** button classes -------------------------------------*/
.ps-container button.ps-primary,
.ps-container input[type=button].ps-primary,
.ps-container input[type=submit].ps-primary {
	text-shadow: 0 0 20px #1717ff;
	color: #5050ff;
}

.ps-container button.ps-secondary,
.ps-container input[type=button].ps-secondary,
.ps-container input[type=submit].ps-secondary {
	color: #767676;
	text-shadow: 0 0 15px #767676;
}

.ps-container button.ps-info,
.ps-container input[type=button].ps-info,
.ps-container input[type=submit].ps-info {
	color: #5a8db2;
	text-shadow: 0 0 15px #558cb4;
}

.ps-container button.ps-success,
.ps-container input[type=button].ps-success,
.ps-container input[type=submit].ps-success {
	color: #379f51;
	text-shadow: 0 0 15px #379f51;
}

.ps-container button.ps-warning,
.ps-container input[type=button].ps-warning,
.ps-container input[type=submit].ps-warning {
	color: #cd9338;
	text-shadow: 0 0 15px #f4a427;
}

.ps-container button.ps-danger,
.ps-container input[type=button].ps-danger,
.ps-container input[type=submit].ps-danger {
	color: #e93f3f;
	text-shadow: 0 0 15px #e93f3f;
}

/** checkbox & radio ------------------------------------------------------------- */

.ps-container input[type=checkbox],
.ps-container input[type=radio] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	box-shadow: inset 0.1em 0.1em 0.15em 0 #0003, 0.2em 0.2em 0.3em #fff, -0.1em -0.1em 0.2em #0001, inset 0 0 0.15em 0 #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #00000015 #0001 #00000015 #0001;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	transform: translateY(-0.1em);
	margin-right: 0.2em;
	border-radius: 0.2em;
	position: relative;
}

.ps-container input[type=radio] {
	border-radius: 0.5em;
}

.ps-container input[type=checkbox]:disabled,
.ps-container input[type=radio]:disabled {
	background-color: #eee;
	border: none;
}

.ps-container input[type=checkbox]:disabled,
.ps-container input[type=checkbox]:disabled + label,
.ps-container input[type=radio]:disabled,
.ps-container input[type=radio]:disabled + label {
	color: #bbb;
	text-shadow: -0.1em -0.1em 0.25em #fff8;
}

.ps-container input[type=checkbox]:not([disabled]):hover,
.ps-container input[type=radio]:not([disabled]):hover {
	background-color: #f8fafa;
}

.ps-container input[type=checkbox]:not([disabled]):active,
.ps-container input[type=radio]:not([disabled]):active {
	background-color: #eee;
}

.ps-container input[type=checkbox]:not([disabled]):focus-visible,
.ps-container input[type=radio]:not([disabled]):focus-visible {
	outline: 2px ridge #ccc;
}

.ps-container input[type=checkbox]:not([disabled]):hover,
.ps-container input[type=checkbox]:not([disabled]):hover + label,
.ps-container input[type=radio]:not([disabled]):hover,
.ps-container input[type=radio]:not([disabled]):hover + label {
	text-shadow: 0 0 0.3em #bbb;
}

.ps-container input[type=checkbox]:checked::after,
.ps-container input[type=radio]:checked::after {
	content: " ";
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.1em;
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	background-color: #f8f8f8;
	box-shadow: 0 0 0.4em 0 #0008;
}

.ps-container input[type=checkbox]:disabled:checked::after,
.ps-container input[type=radio]:disabled:checked::after {
	background-color: #e8e8e8;
	box-shadow: 0 0 0.4em 0 #0006;
}

.ps-container input[type=radio]:checked::after {
	border-radius: 0.25em;
}

/** TextBox & TextArea -------------------------------------------------------------------- */

.ps-container input[type=text],
.ps-container textarea {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: #fff;
	box-shadow: inset 0.1em 0.1em 0.15em 0 #0003, 0.2em 0.2em 0.3em #fff, -0.1em -0.1em 0.2em #0001, inset 0 0 0.15em 0 #fff;
	border-top-color: #00000018;
	border-left-color: #00000018;
	border-right-color: #fff8;
	border-bottom-color: #fff8;
	border-radius: 0.2em;
	padding-left: 0.3em;
	margin: 0.2em 0 0.3em;
}

.ps-container input[type=text]:disabled,
.ps-container textarea:disabled {
	background-color: #eee;
}

.ps-container input[type=text]:focus-visible,
.ps-container textarea:focus-visible {
	outline: 2px ridge #ddd;
}

/** Modal -----------------------------------------------------------------------------------*/

body.has-modal::before {
	content: " ";
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #ccca;
	z-index: 1000;
}

.ps-modal {
	display: none;
	position: absolute;
	top: 10em;
	min-width: 30em;
	background: #eee;
	padding: 2em;
	padding-bottom: 1em;
	z-index: 1001;
	border-radius: 0.625em;
	color: #666;
	border-style: solid;
	border-width: 1px;
	border-top-color: #fffa;
	border-left-color: #fffa;
	border-right-color: #aaaa;
	border-bottom-color: #aaaa;
	box-shadow: -0.5em -0.5em 1em 0 #fffc, inset 0.15em 0.15em 0.31em 0 #fffa, 0.62em 0.62em 1.25em #aaaa, inset -0.2em -0.2em 0.5em 0 #aaad;;
}

.ps-modal.ps-modal-visible {
	display: block;
}

.ps-modal .ps-modal-body {
	padding-bottom: 1em;
}

.ps-modal .ps-modal-header {
	border-bottom: 2px groove #fff8;
	position: relative;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	user-select: none;
}

.ps-modal .ps-modal-header .ps-modal-close-button {
	font-size: 2em;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-0.5rem);
	line-height: 1.5rem;
	text-shadow: 0 0 0.4em;
	cursor: pointer;
}

.ps-modal .ps-modal-header .ps-modal-close-button:hover {
	color: #d66;
}

.ps-modal .ps-modal-header .ps-modal-close-button:active {
	padding: 1px 0 0 1px;
}

.ps-modal .ps-modal-footer {
	border-top: 2px groove #fff8;
	padding-top: 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: end;
}
